{% extends "lotus_auth/base.html" %}

{% load static widget_tweaks %}

{% block page_title %}
{#    {% if send_activation_code or form.inactive_user %}Resend Email Activation Link{% else %} Login {% endif %}| {{ block.super }}#}
    Login
{% endblock %}

{% block content %}
    <div class="crm_login_container">
		<div class="crm_login_logo">
            <img src="{% static 'images/logo_login.png' %}" style="width: 200px; height: 158px">
        </div>
        <div class="crm_login_separator"></div>
        <div style="height:5px;"></div>
		<form class="form-signin" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
			<h5 class="form-signin-heading">User Name</h5>
			<label for="username" class="sr-only">User Name</label>
            {{ form.username|attr:"autocomplete:off"|attr:"autocorrect:off"|attr:"autocapitalize:off"|attr:"spellcheck:false"|attr:"class: form-control" }}
			<div style="height:15px;"></div>
            <h5 class="form-signin-heading">Password</h5>
			<label for="inputPassword" class="sr-only">Password</label>
            {{ form.password|attr:"autocomplete:off"|attr:"autocorrect:off"|attr:"autocapitalize:none"|attr:"spellcheck:false"|attr:"class: form-control" }}
			<div style="height:30px;"></div>
        	<button name="signin" class="btn btn-lg btn_signin btn-block" type="submit">Sign In</button>
		</form>
	</div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock content %}
