Django==2.2.12
django-jet==1.0.8
django-ckeditor==5.6.1
django-constance==2.2.0
django-debug-toolbar==2.0
django-imagekit==4.0.2
django-rosetta==0.8.3
django-modeltranslation==0.12.2
django-picklefield==1.0.0
Unipath==1.1
python-memcached==1.59
feedparser==5.2.1
django-localflavor==1.4.1
geopy==1.11.0
django-widget-tweaks==1.4.2
requests==2.21.0
lxml==4.3.2
djangorestframework
python-decouple==3.1
psycopg2==2.7.7
redis==3.2.1
django-celery-beat==1.4.0
whitenoise==4.1.2
XlsxWriter==1.1.7

Hi, my love.
I am so missing you and my lovely daugther.
I am fine here, and I hope so there.
I am going to send photos next week, so please prepare photos and videos there also.
026392603, 1915367773, this is the phone number of JinJu, she is wife of my best brother(SongHyok) here.
so call her and talk to her prepare photo for sending to her husband.
also tell her do not say anyting about this to husband's company.

give my greetings to all my lovely family members.

lastly, I was going to send some money before new year, but I could not find any channel to send it.
I know there will be difficult now, but please overcome everything and let's meet happily after COVID-19.
